@import "~bulma/sass/utilities/initial-variables"
$primary: #6ab04c
$primary-invert: white
$body-color: #333
$black: #2b2523
$transparent-primary: rgba($primary, .8)

@import "~leaflet/dist/leaflet.css"
@import "~bulma/bulma.sass"

.jumbo
  position: relative
  overflow: hidden
  height: 500px
  background-size: cover
  background-position: right center
  background-attachment: fixed
  >div
    display: flex
    align-items: center
    position: absolute
    padding: 3rem 4rem
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: $transparent-primary
  h2,p
    max-width: 1100px
    position: relative
    z-index: 10
    color: white
    text-shadow: 4px 4px 12px rgba(0,0,0,.75);
  p
    padding-top: 2rem
    color: white
    font-size: 2rem
    position: relative
    z-index: 10
  h2
    font-weight: bold
    font-size: 3rem

.footer
  text-align: center
 
